{% extends "add_new_form.html" %}
{% block page_name %}Add New Answer{% endblock %}
{% block back_to_last_page %}/question/{{ question_id }}{% endblock %}
{% block back_to_last_page_name %}question{% endblock %}
{% block action_destination %}/question/{{ question_id }}/new-answer{% endblock %}
{% block message %}
    <label for="message-input">Message:<br></label>
    <textarea id="message-input" name="message" rows="4" cols="40"></textarea>
    <br><br>
{% endblock %}
{% block submit_button %}
    <button type="submit" class="btn add-new">POST new answer</button>
{% endblock %}