{% extends "add_new_form.html" %}
{% block page_name %}Add New Question{% endblock %}
{#{% block back_to_main_page %}<a href="/">Back to (useless) main page</a>{% endblock %}#}
{% block action_destination %}/add-question{% endblock %}
{% block title %}
    <label for="title-input">Title:<br></label>
    <textarea id="title-input" name="title" rows="1" cols="20"></textarea>
    <br><br>
{% endblock %}
{% block message %}
    <label for="message-input">Message:<br></label>
    <textarea id="message-input" name="message" rows="4" cols="40"></textarea>
    <br><br>
{% endblock %}
{% block submit_button %}
    <button type="submit">POST new question</button>
{% endblock %}