<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form_template</title>
</head>
<body>
    <h1>{% block page_name %}{% endblock %}</h1>
    <a href="/">back to main page<a><br><br>
    <a href="{% block back_to_last_page %}{% endblock %}">back to {% block back_to_last_page_name %}list{% endblock %} page<a><br><br>
    <form action="{% block action_destination %}{% endblock %}" method="POST">
        {% block title %}{% endblock %}
        {% block message %}{% endblock %}
        {% block submit_button %}{% endblock %}
        <label for="avatar">Choose a profile picture:</label>
        <input type="file" id="avatar" name="image" accept="image/png, image/jpeg">

    </form>
</body>
</html>