<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welecome | Ask Me</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div id="main-container">
    <h1>Ask Me</h1>
    <a href="/add-question" class="btn add-new">Ask new question</a><br><br>
    <div id="sort">
        <form>
        <form action = "/list">
                <label for="questions_order">Sort questions by:</label>
                <select id="questions_order" name="questions_order">
                  <option value="title">title</option>
                  <option value="submission_time">submission time</option>
                  <option value="message">message</option>
                  <option value="view_number">number of view</option>
                  <option value="vote_number">number of votes</option>
                </select>
        <form action = "/list">
                <label for="order_direction">Order:</label>
                <select id="order_direction" name="order_direction">
                  <option value="DESC">descending</option>
                  <option value="ASC">ascending</option>
                </select>
        <form action = "/list">
                <button type="submit" class="btn">Sort</button>
        </form>
       <form action="/search">
            <label for="search">Search in questions</label>
            <input type="text" id="search" name="search-phrase">
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
    <table id="listing-table" cellpadding="0" cellspacing="0">
    <tr>
        <th>View Number</th>
        <th>Vote Number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    {%for data in all_questions  %}
    <tr>
        <td>{{ data['view_number'] }}</td>
        <td>{{ data['vote_number'] }}</td>
        <td><a href="/question/{{ data['id'] }}">{{ data['title'] }}</a></td>
        <td>{{ data['message'] }}</td>
        {% if data['image'] %}
            <td><img src="{{url_for('static', filename=data['image'])}}" alt=" " width="42" height="42"></td>
        {% else %}
            <td></td>
        {% endif %}
        <td>
            <a href="/question/{{ data['id'] }}/vote?vote-up=1&table=question" class="btn vote-up">Up vote</a><br>
            <a href="/question/{{ data['id'] }}/vote?vote-up=-1&table=question" class="btn vote-down">Down vote</a>
        </td>
        <td><a href="/question/{{ data['id'] }}/delete" class="btn">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

</div>
</body>
</html>