{% extends 'base_layout.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h1>{% block page_name %}AskMate{% endblock %}</h1>
    <p>Welcome to the AskMate main page.</p>
    <table class="listing-table">
    <tr>
        <th>View Number</th>
        <th>Vote Number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    {%for data in questions  %}
    <tr>
        <td>{{ data['view_number'] }}</td>
        <td>{{ data['vote_number'] }}</td>
        <td><a href="/question/{{ data['id'] }}">{{ data['title'] }}</a></td>
        <td>{{ data['message'] }}</td>
        {% if data['image'] %}
            <td><img src="{{url_for('static', filename=data['image'])}}" alt=" " width="42" height="42"></td>
        {% else %}
            <td></td>
        {% endif %}
        <td>
            <a href="/question/{{ data['id'] }}/vote?vote-up=1&table=question&reputation=5">Up vote</a>
            <a href="/question/{{ data['id'] }}/vote?vote-up=-1&table=question&reputation=-2">Down vote</a>
        </td>
        <td><a href="/question/{{ data['id'] }}/delete">Delete</a></td>
    </tr>
    {% endfor %}
    </table>
    <div id="login-options">
    <a href="/add-question" class="btn">Ask new question</a>
    <a href="/list" class="btn">List all questions</a>
        {% if session["user_name"] %}
            <a href="/logout" class="btn">LOG OUT</a>
        {% else %}
            <a href="/registration" class="btn">Sign up</a>
            <a href="/login" class="btn ">LOG IN</a>
        {% endif %}
    </div>
{% endblock %}