{% extends 'base_layout.html' %}
{% block title %}New tag{% endblock %}
{% block content %}
    <form action="/question/{{ question_id }}/new-tag" method="POST">
        <label for="tag-names">TAGS:</label>
        <select id="tag-names" name="tag-id">
            {% for tag in tags%}
                <option value="{{ tag.get('id') }}">{{ tag.get('name') }}</option>
            {% endfor %}
        </select>
        <button type="submit">Choose tag</button>
    </form>
    <br>
    <form action="/question/{{ question_id }}/new-tag" method="POST">
        <label for="new-tag-name">NEW TAG:</label><br>
        <input id="new-tag-name" type="text" name="new-tag-name">
        <button type="submit">Add new tag</button>
    </form>
{% endblock %}
