<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Opened Question</title>
    </head>
    <body>
        <h1>{{ question_title }}</h1>
        <p>{{ question_message }}</p>
        <img src="static/images/{{ question_image }}" alt="">
        {% if (answer|length) != 0 %}
    <table>
        <tr>
            <th>Vote <br> Number &nbsp;</th>
            <th>Answer &nbsp;</th>
            <th>Image &nbsp;</th>
        </tr>
        {% for answer in answers %}
            <tr>
                <td>{{ answer['vote_number'] }}</td>
                <td>{{ answer['message'] }}</td>
                <td><img src="static/images/{{ answer['image'] }}" alt=""></td>
                <td>
                    <a href="/answer/{{ answer['id'] }}/vote_up"> Up vote</a>
                    <a href="/answer/{{ answer['id'] }}/vote_down">Down vote</a>
                </td>
            </tr>
        {% endfor %}
    </table>
        {% endif %}
    <a href="/question/{{ question_id }}/new-answer">Add new answer</a>
    </body>
</html>
