{% extends 'base_layout.html' %}
{% block title %} Question {% endblock %}
{% block content %}
        <h1>{{ question['title'] }}</h1>
        <p>{{ question['message'] }}
            {% if 'user_name' in session  and session["id"] == question["user_id"] %}
                <br><br>
                <a href="/question/{{ question["id"] }}/edit" class="btn add-new">Edit</a>
            {% endif %}
        </p>
        {% if question['image'] %}
            <img src="{{ url_for('static', filename=question["image"])}}" alt="" width="100" height="100">
        {% else %}
            <p></p>
        {% endif %}
        {% if 'user_name' in session  and session["id"] == question["user_id"] %}
            <br><br>
            <a href="/question/{{ question["id"]}}/new-tag">Add tag</a><br>
            <a href="/question/{{ question["id"] }}/new-comment">Add Comment</a>
            <br><br>
        {% endif %}
        <table id="question-comment-table">
            {% for q_comment in question_comments %}
                {% if q_comment['question_id'] == comment_condition %}
                    <tr>
                        <td>{{ q_comment['message'] }}</td>
                        <td>{{ q_comment['submission_time'] }}</td>
                        <td>edited {{ q_comment['edited_count'] }} times</td>
                        {% if 'user_name' in session  and session["id"] == question["user_id"] %}
                            <td><a href="/comment/{{ q_comment['id'] }}/edit?question_id={{ question_id }}">Edit Comment</a></td>
                            <td><a href="/comment/{{ q_comment['id'] }}/delete?question_id={{ question_id }}">Delete Comment</a></td>
                        {% endif %}
                {% endif %}
            {% endfor %}

        </table>
        <br><br>

        <table>
            <tr>
                <th>Vote <br> Number &nbsp;</th>
                <th>Answer &nbsp;</th>
                <th>Image &nbsp;</th>
            </tr>
            {% for answer in answers %}
                <tr></tr>
                    <td>{{ answer['vote_number'] }}</td>
                    <td>{{ answer['message'] }}</td>
                    {% if answer['image'] %}
                        <td><img src="{{url_for('static', filename=answer['image'])}}" alt=" " width="42" height="42"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        <a href="/answer/{{ answer['id'] }}/vote?question_id={{ question["id"] }}&vote-up=1&table=answer&reputation=10" > Up vote</a>
                        <a href="/answer/{{ answer['id'] }}/vote?question_id={{ question["id"] }}&vote-up=-1&table=answer&reputation=-2" >Down vote</a>
                    <td>
                        <a href="/answer/{{ answer['id'] }}/delete?question_id={{ question["id"] }}">Delete</a>
                        <a href="/answer/{{ answer['id'] }}/edit">Edit</a>
                    </td>
                    {% if 'user_name' in session  and session["id"] == question["user_id"] %}
                    <td>
                        <form action="/answer/{{ answer['id'] }}/accept?question_id={{ question["id"] }}" method="POST">
                            <button type="submit" value="True">ACCEPT</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <table>
                        {% for comment in answer_comments %}
                            {% if comment['answer_id'] == answer['id'] %}
                            <tr>
                                <td>{{ comment['message'] }}</td>
                                <td>{{ comment['submission_time'] }}</td>
                                <td>edited {{ comment['edited_count'] }} times</td>
                                <td><a href="/comment/{{ comment['id'] }}/edit?question_id={{ question["id"] }}">Edit Comment</a></td>
                                <td><a href="/comment/{{ comment['id'] }}/delete?question_id={{ question["id"] }}">Delete Comment</a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </tr>
                <tr>
                    <td><a href="/answer/{{ answer['id'] }}/new-comment?question_id={{ question["id"] }}">Comment</a></td>
                </tr>
                <br><br>
            {% endfor %}
        </table>
        <a href="/question/{{ question["id"] }}/new-answer?question_id={{ question["id"] }}">Add new answer</a><br>
        <a href="/list">back to the questions</a>

{% endblock %}

