<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Opened Question</title>
    </head>
    <body>
        <h1>{{ question_title }}</h1>
        <p>{{ question_message }}
            <br><br>
            <a href='/question/{{ question_id }}/edit'>Edit</a>
        </p>
        {% if question_image %}
            <img src="{{ url_for('static', filename=question_image)}}" width="100" height="100">
        {% else %}
            <p></p>
        {% endif %}
        <br><br>
        <a href="/question/{{ question_id }}/new-comment">Comment</a>
        <br><br>
        <table id="question-comment-table">
            {% for comment in question_comments %}
                <tr>
                    <td>{{ comment['message'] }}</td>
                    <td>{{ comment['submission_time'] }}</td>
                    <td>edited {{ comment['edited_count'] }} times</td>
                </tr>
            {% endfor %}
        </table>
        <br><br>

        <table>
            <tr>
                <th>Vote <br> Number &nbsp;</th>
                <th>Answer &nbsp;</th>
                <th>Image &nbsp;</th>
            </tr>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer['vote_number'] }}</td>
                    <td>{{ answer['message'] }}</td>
                    {% if answer['image'] %}
                        <td><img src="{{url_for('static', filename=answer['image'])}}" alt=" " width="42" height="42"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        <a href="/answer/{{ answer['id'] }}/vote?question_id={{ question_id }}&vote-up=1&table=answer" > Up vote</a>
                        <a href="/answer/{{ answer['id'] }}/vote?question_id={{ question_id }}&vote-up=-1&table=answer" >Down vote</a>
                        <a href="/answer/{{ answer['id'] }}/delete?question_id={{ question_id }}">Delete</a>
                        <a href='/answer/{{ answer['id'] }}/edit'>Edit</a>

                    </td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
        <a href="/question/{{ question_id }}/new-answer?question_id={{ question_id }}">Add new answer</a><br>
        <a href="/list">back to the questions</a>
    </body>
</html>
