<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Registration{% endblock %}</title>
</head>
<body>
    <form action="{% block action_dest %}/registration{% endblock action_dest %}" method="post">
        <label for="user-name">USERNAME:</label><br>
        <input id="user-name" type="text" name="new-user-name"><br>
        <br>
        <label for="password">PASSWORD:</label><br>
        <input id="password" type="password" name="new-password">
    </form>

</body>
</html>