{% extends 'base_layout.html' %}
{% block title %}Search{% endblock %}
{% block content %}
    <h3>You searched for: {{ search_phrase }}</h3>
    {% for i in range(search_results|length) %}
        <h4>{{search_results[i].get('title') }}</h4>
        <p>{{ search_results[i].get('message') }}</p>
        <ul>
            {% for message in search_results[i].get('answer_message') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
<a href="/list">back to the questions</a>
{% endblock %}
