<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Useless Main Pagen</title>
</head>
<body>
    {% block page_name %}Useless Main Page{% endblock %}
    <br><br>
    <a href="/add-question">add question</a>
    <br><br>
    <a href="/list">alist page</a>
    <form action="/add-question" method="POST">
    {% block title %}{% endblock %}
    {% block message %}meaningful message{% endblock %}
    {% block submit_question %}{% endblock %}
    </form>
</body>
</html>